# 03 Prepare Opportunity Atlas

**Project:** NORI  
**Author:** Yuseof J  
**Date:** 10/12/25  

### **Purpose**
Load the raw Opportunity Atlas csv, filter for NYC tracts, and output data as parquet file. 

### **Inputs**
- `data/raw/opportunity_atlas_tracts.csv`

### **Outputs**
- `data/processed/opportunity_atlas_nyc.parquet`
  
--------------------------------------------------------------------------

### 0. Imports and Setup

In [4]:
# package imports
import os
import pandas as pd
import geopandas as gpd
from pathlib import Path

# specify filepaths
path_opp_atlas = 'data/raw/opportunity_atlas_tracts.csv'
path_nyc_tracts = 'data/processed/nyc_tracts.gpkg'
path_output_processed_data = 'data/processed/opportunity_atlas_nyc.parquet'

# ensure cwd is project root for file paths to function properly
project_root = Path(os.getcwd())            # get current directory
while not (project_root / "data").exists(): # keep moving up until in parent
    project_root = project_root.parent
os.chdir(project_root)                      # switch to parent directory

### 1. Load Data

In [6]:
gdf_tracts_nyc = gpd.read_file(path_to_nyc_tracts, layer="tracts")

# read opportunity atlas in chunks because the file is very large
chunk_iter = pd.read_csv(path_to_opp_atlas, chunksize=100_000)

chunks = []
for chunk in chunk_iter:
    chunks.append(chunk)

df_opp_atlas = pd.concat(chunks, ignore_index=True)

OSError: [Errno 22] Invalid argument

### 2. EDA

In [ ]:
df_opp_atlas.columns.tolist()

In [44]:
df_opp_atlas.head()

,StateAbbr,StateDesc,CountyName,CountyFIPS,TractFIPS,TotalPopulation,TotalPop18plus,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,...,FOODINSECU_Crude95CI,HOUSINSECU_CrudePrev,HOUSINSECU_Crude95CI,SHUTUTILITY_CrudePrev,SHUTUTILITY_Crude95CI,LACKTRPT_CrudePrev,LACKTRPT_Crude95CI,EMOTIONSPT_CrudePrev,EMOTIONSPT_Crude95CI,Geolocation
0,AL,Alabama,Autauga,1001,1001020100,1775,"1,370",9.7,"( 7.4, 12.3)",30.6,...,"(13.8, 20.9)",12.3,"(10.2, 14.7)",8.1,"( 6.9, 9.6)",8.9,"( 7.5, 10.4)",23.5,"(19.9, 27.4)",POINT (-86.4915648 32.4819731)
1,AL,Alabama,Autauga,1001,1001020200,2055,"1,584",10.6,"( 8.5, 13.0)",29.5,...,"(20.9, 29.1)",18.5,"(15.6, 21.6)",12.5,"(10.7, 14.4)",12.0,"(10.3, 13.8)",29.1,"(25.2, 33.6)",POINT (-86.4724678 32.475758)
2,AL,Alabama,Autauga,1001,1001020300,3216,"2,485",10.6,"( 8.4, 13.1)",31.5,...,"(15.9, 22.6)",14.1,"(11.8, 16.3)",9.0,"( 7.7, 10.4)",9.7,"( 8.3, 11.1)",25.9,"(22.2, 30.0)",POINT (-86.4597033 32.4740243)
3,AL,Alabama,Autauga,1001,1001020400,4246,"3,344",7.9,"( 6.1, 10.1)",32.5,...,"(10.0, 15.7)",9.3,"( 7.7, 11.4)",6.1,"( 5.2, 7.4)",6.8,"( 5.8, 8.1)",21.5,"(18.2, 25.5)",POINT (-86.4448353 32.4710304)
4,AL,Alabama,Autauga,1001,1001020501,4322,"3,369",6.2,"( 4.7, 7.8)",27.7,...,"( 7.6, 11.9)",8.1,"( 6.6, 9.8)",5.1,"( 4.2, 6.0)",5.5,"( 4.6, 6.6)",21.1,"(17.6, 24.8)",POINT (-86.4225578 32.4478607)

### 3. Data Filtering / Cleaning

In [45]:
df_tracts_nyc.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,GEOIDFQ,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,36,085,024402,36085024402,1400000US36085024402,244.02,Census Tract 244.02,G5020,S,1823028,2065530,+40.4997874,-074.2384712,"MULTIPOLYGON (((912287.455 121583.989, 912302...."
1,36,085,027705,36085027705,1400000US36085027705,277.05,Census Tract 277.05,G5020,S,531529,0,+40.5882479,-074.1569820,"MULTIPOLYGON (((938978.947 152923.44, 939459.2..."
2,36,085,012806,36085012806,1400000US36085012806,128.06,Census Tract 128.06,G5020,S,1319470,580167,+40.5576710,-074.1076715,"MULTIPOLYGON (((950892.186 143465.985, 951155...."
3,36,047,024400,36047024400,1400000US36047024400,244,Census Tract 244,G5020,S,155278,0,+40.6217475,-073.9862364,"MULTIPOLYGON (((987168.126 166387.055, 987335...."
4,36,047,023000,36047023000,1400000US36047023000,230,Census Tract 230,G5020,S,150941,0,+40.6378160,-073.9842809,"MULTIPOLYGON (((987443.171 173158.468, 988054...."

In [47]:
# ensure matching dtypes for filtering
nyc_tracts_fips = gdf_tracts_nyc.GEOID.astype(int)
df_cdc.TractFIPS = df_cdc.TractFIPS.astype(int)

# filter cdc places for nyc tracts
df_cdc_nyc = df_cdc[df_cdc.TractFIPS.isin(nyc_tracts_fips)]

# report number of matched tracts
percent_matched = int((df_cdc_nyc.TractFIPS.nunique()/df_tracts_nyc.GEOID.nunique()) * 100)
print(f"Found places data for {df_cdc_nyc.TractFIPS.nunique()} / {df_tracts_nyc.GEOID.nunique()} ({percent_matched}%) of nyc tracts")

Found places data for 2231 / 2327 (95%) of nyc tracts

### 4. Save Data

In [48]:
df_cdc_nyc.to_parquet(path_to_output_processed_data)